body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cells {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 450px;
  height: 450px;
}

.cell {
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell:hover {
  background-color: lightgray;
  cursor: pointer;
}

.cells .cell:nth-child(1) {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.cells .cell:nth-child(2) {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.cells .cell:nth-child(3) {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.cells .cell:nth-child(4) {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.cells .cell:nth-child(5) {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.cells .cell:nth-child(6) {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.cells .cell:nth-child(7) {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.cells .cell:nth-child(8) {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.cells .cell:nth-child(9) {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.disabled {
  pointer-events: none;
}

.play-again {
  position: relative;
}

.play-again button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 145px;
  transform: translateX(50%);
  user-select: none;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.results {
  text-align: center;
}

.turns {
  text-align: center;
}

.turns p {
  user-select: none;
}

.results p {
  user-select: none;
}
